### Build output ###
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

### Compiled / artifacts ###
*.class
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
*.ctxt
.mtj.tmp/

# Ignora jars em geral, mas mantem o Maven Wrapper
*.jar
!.mvn/wrapper/maven-wrapper.jar

### Logs ###
*.log
logs/
hs_err_pid*
replay_pid*

### IDE ###
.idea/
*.iws
*.iml
*.ipr
.vscode/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### OS ###
.DS_Store

### LocalStack ###
.localstack/
*.localstack/
/tmp/localstack/

### Diversos ###
.gitignore.bak
HELP.md

# Segredos e estado do Terraform sao tratados em terraform/.gitignore
# (terraform.tfvars, *.tfstate*, .terraform/). Nunca commitar credenciais.
